.image-upload-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

.image-upload-input {
    display: none;
}

.image-upload-button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 0.8rem 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
}

.image-upload-button:hover {
    background-color: #000000;
}

.img-before {
    height: 50px;
    width: 42px;
    margin-left: 50px;
}

.img-after {
    height: 50px;
    width: 42px;
    margin-left: 50px;
    border-radius: 0%;
}