@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* @import 'antd/dist/antd.min.css'; */

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  min-width: 400px;
}

html {
  font-size: 100%;
}